body {
  background-color: #262133;
  font-family: "Fira Code", monospace;
  color: #bdace7;
  margin: 0;
  padding: 8px;
  max-width: 600px;
}

h1 {
  color: #bdace7;
  margin-top: 20px;
}

a {
  color: #946df7;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

/* PGP Key */
.pgp-key {
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  line-height: 1.5;
  max-width: 600px;
  text-align: center;
}

.copy-button {
  font-family: "Fira Code", monospace;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding: 10px 15px;
  background-color: #946df7;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.copy-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.copy-button:focus {
  outline: none;
}

.copy-button:active {
  transform: scale(0.9);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #946df7;
  border-radius: 6px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #946df7b6;
}

/* Media query for phones */
@media screen and (max-width: 600px) {
  body {
    padding: 4px; /* Reduce padding for better mobile experience */
  }

  h1 {
    font-size: 24px; /* Adjust the heading size for mobile */
  }

  .pgp-key {
    font-size: 8px; /* Adjust the font size for mobile */
    margin: 10px auto; /* Reduce the margin for mobile */
    padding: 10px; /* Reduce padding for mobile */
  }

  .copy-button {
    font-size: 10px; /* Adjust the font size for mobile */
    top: -30px; /* Adjust the button position for mobile */
    right: -13px; /* Adjust the button position for mobile */
    padding: 6px 10px; /* Adjust the button padding for mobile */
  }
}
